cloudpickle==2.1.0; python_version >= "3.7" and python_version < "3.11"
cycler==0.11.0; python_version >= "3.7"
fonttools==4.34.4; python_version >= "3.7"
gym-notices==0.0.7; python_version >= "3.7" and python_version < "3.11"
gym==0.25.0; python_version >= "3.6"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.7"
matplotlib==3.5.2; python_version >= "3.7"
numpy==1.23.1
packaging==21.3; python_version >= "3.7"
pandas==1.4.3; python_version >= "3.8"
pettingzoo==1.19.0; python_version >= "3.7" and python_version < "3.11"
pillow==9.2.0; python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.1; python_version >= "3.8"
setuptools-scm==7.0.5; python_version >= "3.7"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
stable-baselines3 @ git+https://github.com/carlosluis/stable-baselines3.git@fix_tests ; python_version >= "3.7"
supersuit==3.5.0; python_version >= "3.7"
tinyscaler==1.2.4; python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
torch==1.12.0; python_full_version >= "3.7.0" and python_version >= "3.7"
typing-extensions==4.3.0; python_full_version >= "3.7.0" and python_version >= "3.7"
zipp==3.8.1; python_version < "3.10" and python_version >= "3.7"
